<!DOCTYPE html>
<html>
<head>
  <title>MessageGem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="fright">
		<% if session[:id].nil?%>
			Not Logged in	
		<% else %>
			<%= session[:name] %> (<%=session[:id]%>) <%=link_to 'Logout' , "/user/unset" %>
		<% end %>

	</div>

<%= yield %>

</body>
</html>
